interface AppConfig:
  describe() -> string

class Config implements AppConfig:
  private static instance: AppConfig = Config("prod")
  private constructor(env):
    this.env = env
  static getInstance() -> AppConfig:
    return Config.instance
  describe() -> string:
    return "config:" + this.env

a = Config.getInstance()
b = Config.getInstance()

print("singleton:", a.describe(), a === b)
