interface Notifier:
  send(message: string) -> string

class PlainNotifier implements Notifier:
  send(message: string) -> string:
    return message

class EmailDecorator implements Notifier:
  constructor(next: Notifier):
    this.next = next
  send(message: string) -> string:
    return "email(" + this.next.send(message) + ")"

class SmsDecorator implements Notifier:
  constructor(next: Notifier):
    this.next = next
  send(message: string) -> string:
    return "sms(" + this.next.send(message) + ")"

notifier = SmsDecorator(EmailDecorator(PlainNotifier()))

print("decorator:", notifier.send("build passed"))
