interface Image:
  display() -> string

class RealImage implements Image:
  constructor(path: string):
    this.path = path
  display() -> string:
    return "display " + this.path

class ImageProxy implements Image:
  private real: Image | null = null
  constructor(path: string):
    this.path = path
  display() -> string:
    real = this.real
    if real != null:
      return real.display()
    real: Image = RealImage(this.path)
    this.real = real
    return real.display()

image = ImageProxy("chart.png")

print("proxy:", image.display())
