type IteratorStep = { done: bool, value: int | null }

interface IntIterator:
  next() -> IteratorStep

class RangeIterator implements IntIterator:
  public constructor(start, stop):
    this.current = start
    this.stop = stop
    this["@@iterator"] = () => this
  public next() -> IteratorStep:
    if this.current >= this.stop:
      return { done: true, value: null }
    value = this.current
    this.current += 1
    return { done: false, value: value }

values = []
for value of RangeIterator(1, 4):
  values.push(value)

print("iterator:", values.join(","))
